{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <div class='row'>
        <div id="carousel-example-generic" class="carousel slide">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src = "{% static 'img/slide1.PNG' %}" alt="Frist slide">
            </div>
            <!--<div class="item active">
              <img src = "{% static 'img/slide2.PNG' %}" alt="Second slide">
            </div>
            <div class="item active">
              <img src = "{% static 'img/slide1.PNG' %}" alt="Third slide">
            </div>-->
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
    </div>

    <div class='row'>
    <h3>Recent Post</h3>
    </div>

    <div class='row'>
        <div class='col-lg-9'>
            <div class='row'>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content1.PNG' %}" style='width:200px; height: 200px' >
                    </div>
                    <div class = 'row'>
                        <h4>Circle shaped amazing house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content2.PNG' %}" style='width:200px; height: 200px'>
                    </div>
                    <div class = 'row'>
                        <h4>Simple and cozy house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content3.PNG' %}" style='width:200px; height: 200px'>
                    </div>
                    <div class = 'row'>
                        <h4>SF feeling house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content4.PNG' %}" style='width:200px; height: 200px'>
                    </div>
                    <div class = 'row'>
                        <h4>Vacance house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content5.PNG' %}" style='width:200px; height: 200px'>
                    </div>
                    <div class = 'row'>
                        <h4>Terrace house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content6.PNG' %}" style='width:200px; height: 200px'>
                    </div>
                    <div class = 'row'>
                        <h4>cotton house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content7.PNG' %}" style='width:200px; height: 200px'>
                    </div>
                    <div class = 'row'>
                        <h4>Modular house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
                <div class ='col-lg-3'>
                    <div class ='row'>
                        <img src = "{% static 'img/content8.PNG' %}" style='width:200px; height: 200px'>
                    </div>
                    <div class = 'row'>
                        <h4>Block house</h4>
                    </div>
                    <div class ='row'>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>
            </div>

        </div>
        <div class='col-lg-3'>
            <a href="#" class="btn btn-default btn-large disabled pull-left" style='width:300px;'>Category</a>
        </div>
    </div>


{% endblock %}